#theme-default header {
  padding: 10px 40px;
}
#theme-default footer {
  text-align: center;
  height: 24px;
  border-top: 2px solid #0090FF;
  color: #999;
}
#theme-default .content-wrap {
  margin-bottom: 24px;
}
#theme-default #project_tagline {
  font-size: 18px;
  margin-left: 60px;
}
@media screen and (max-height: 480px) {
  
}